%meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}/
%h1.newh1 Tags
%nav
  %ul.topnav
    %li.to_new
      = link_to "New Player", new_player_path, class: "new_player"
    %li.to_player
      = link_to "Players", players_path
    %li.to_tag
      = link_to "Tags", tags_path
#tags.tagbox
  - @tags.each do |tag|
    .tags
      = link_to tag.name, tag_path(tag)
