- content_for :for_head do
  %meta{:content => "3;URL='http://localhost:3000/players'", "http-equiv" => "REFRESH"}/
%p#notice= notice
%h1.newp Draft-o-matic Picking!
.confirmation
  %p.newp You have picked #{@pickname}, Wow!
  = link_to 'Back', 'players_pick_path'